table {
    text-align: center;
    margin:5px auto; 
    font-size: larger;
}

table caption {
    font-size: large;
    text-align: center;
    margin-bottom: 5px;
}

th {
    background-color: brown;
    color: white;
    padding: 5px;
}

td {
    background-color: navajowhite;
    padding: 3px;
}
